.navbar-reist {
    background-color: #0c0235;
    border-color: #080808;
}

    .navbar-reist .navbar-brand {
        color: #fff;
    }

        .navbar-reist .navbar-brand:hover,
        .navbar-reist .navbar-brand:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-reist .navbar-text {
        color: #fff;
    }

    .navbar-reist .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-reist .navbar-nav > li > a:hover,
        .navbar-reist .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-reist .navbar-nav > .active > a,
    .navbar-reist .navbar-nav > .active > a:hover,
    .navbar-reist .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-reist .navbar-nav > .disabled > a,
    .navbar-reist .navbar-nav > .disabled > a:hover,
    .navbar-reist .navbar-nav > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }

    .navbar-reist .navbar-toggle {
        border-color: #ffffff77;
    }

        .navbar-reist .navbar-toggle:hover,
        .navbar-reist .navbar-toggle:focus {
            background-color: #0c0235;
        }

        .navbar-reist .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .navbar-reist .navbar-collapse,
    .navbar-reist .navbar-form {
        border-color: #101010;
    }

    .navbar-reist .navbar-nav > .open > a,
    .navbar-reist .navbar-nav > .open > a:hover,
    .navbar-reist .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #080808;
    }

@media (max-width: 767px) {
    .navbar-reist .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-reist .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-reist .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

        .navbar-reist .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-reist .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-reist .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-reist .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-reist .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-reist .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-reist .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-reist .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-reist .navbar-link {
    color: #fff;
}

    .navbar-reist .navbar-link:hover {
        color: #fff;
    }

.navbar-reist .btn-link {
    color: #fff;
}

    .navbar-reist .btn-link:hover,
    .navbar-reist .btn-link:focus {
        color: #fff;
    }

    .navbar-reist .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-reist .btn-link:hover,
    .navbar-reist .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-reist .btn-link:focus {
        color: #444;
